@font-face {
    font-family: 'special_eliteregular';
    src: url('web%20fonts/SpecialElite-webfont.eot');
    src: url('web%20fonts/SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
    url('web%20fonts/webSpecialElite-webfont.woff') format('woff'),
    url('web%20fonts/SpecialElite-webfont.ttf') format('truetype'),
    url('web%20fonts/SpecialElite-webfont.svg#special_eliteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: black;
}

body {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 120%;
    color: black;
    background-color: #fefefe;
    margin-left: 7%;
    margin-right: 7%;
    color: #2E2E2E;
    text-shadow: 1px 0px 1px #303030, 0px -1px 1px #404040;
}

body._1 {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 120%;
    color: black;
    background-color: #fefefe;
    margin-left: 7%;
    margin-right: 7%;
    color: #2E2E2E;
    text-shadow: 1px 0px 1px #303030, 0px -1px 1px #404040;
    box-shadow: 1px 1px 0 #000000, 4px 4px 0 #FFFFFF;
}

body._2 {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 120%;
    color: black;
    background-color: #fefefe;
    margin-left: 7%;
    margin-right: 7%;
    color: #2E2E2E;
    text-shadow: 1px 0px 1px #303030, 0px -1px 1px #404040;
    box-shadow: 1px 1px 0 #000000, 4px 4px 0 #FFFFFF, 5px 5px 0 #000000, 8px 8px 0 #FFFFFF;
}

header {
    border: 0px solid;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    text-align: center;
    font-size: 1em;
    height: 40px;
    background-color: #FFFFFF;
    text-indent: 0px;
    vertical-align: middle;
}

header p {
    color: #000000;
}

header a:link {
    color: #050505;
    text-decoration: none;
    background-color: #CACACA;
  }

/* visited link */
header a:visited {
    color: #DDDDFF;
    text-decoration: none;
    background-color: #301515;
  }

/* mouse over link */
header a:hover {
    color: #DDDDFF;
    text-decoration: underline;
    background-color: #301515;
  }

/* selected link */
header a:active {
    color: #8888FF;
    text-decoration: none;
    background-color: #3333dd;
}

footer {
    border: 0px solid;
    border-color: #333333;
    border-radius: 5px;
    border-spacing: 20px;
    text-align: center;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    font-weight: 300;
    height: 50px;
    text-color: #000000;
    background-color: #FFFFFF;
    text-indent: 0px;
  }

footer p {
    color: #000000;
    line-height: 100%;
    text-indent: 0px;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
}

footer a:link {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
  }

/* visited link */
footer a:visited {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
  }

/* mouse over link */
footer a:hover {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
  }

h1 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    padding: 0.3em;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    color: black;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: underline;
}

h3 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: black;
}

h4 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
}

a:link {
    text-decoration: none;
    color: inherit;
    background-color: #FFFFFF;
        /*
        text-decoration: underline;
        text-decoration-color: #dddddd;
        */
    /*    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff; */
    box-shadow: inset 0 -1px 0 0 #FFFFFF, inset 0 -3px 0 0 #2E2E2E;
    }


  }

a:link.null {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
}

a:hover.null {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 0 #FFFFFF, inset 0 -3px 0 0 #2E2E2E;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 0 #FFFFFF, inset 0 -3px 0 0 #404040;
  }

/* mouse over link */
a:hover {
    text-decoration: none;
    background-color: #FEFEFE;
    text-shadow: 0px 0px 2px #0A0A0A, 0px 0px 2px #0A0A0A;
    box-shadow: inset 0 -1px 0 0 #FFFFFF, inset 0 -4px 0 0 #2E2E2E;
  }

/* selected link */
a:active {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFF;
}

a.null:link {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
  }

a.null:link.null {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
}

a.null:hover.null {
    color: #000000;
    text-decoration: underline;
    background-color: #FFFFFF;
}

a.nuller {
    text-decoration: none;
}

/* visited link */
a.null:visited {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
  }

/* mouse over link */
a.null:hover {
    color: #010101;
    text-decoration: none;
    background-color: #FEFEFE;
  }

/* selected link */
a.null:active {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFF;
}

/* visited link */
a.ig:visited {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
  }

/* mouse over link */
a.ig:hover {
    color: #010101;
    text-decoration: line-through;
    background-color: #FEFEFE;
  }

/* selected link */
a.ig:active {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFF;
}

a.nullig:link {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
  }

a.nullig:link.null {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
}

/* visited link */
a.nullig:visited {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
  }

/* mouse over link */
a.nullig:hover {
    color: #010101;
    text-decoration: line-through;
    background-color: #FEFEFE;
  }

/* selected link */
a.nullig:active {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFF;
}

p {
    color: #000000;
    line-height: 220%;
    text-indent: 3em;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "American Typewriter", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-top: 0;
    margin: 0;
    margin-left: 5em;
    margin-right: 5em;
}

p.gappeddouble {
    color: #000000;
    line-height: 200%;
    text-indent: 4em;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "American Typewriter", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin: 0;
    margin-left: 11em;
    margin-right: 11em;
}

p.more {
    color: #000000;
    line-height: 200%;
    text-indent: 3.5em;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    text-indent: 80ps;
    margin-top: 0;
    margin-left: 11em;
    margin-right: 11em;
}

p.less {
    color: #000000;
    line-height: 200%;
    text-indent: 4.5em;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-top: 0;
    margin-left: 11em;
    margin-right: 11em;
}

/*
p em {
    color: #000000;
    background-color: #79ff4d;
    line-height: 200%;
    text-indent: 4em;
    font-size: 1em;
    font-style: normal;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    text-decoration: none;
  }
*/

p.single {
  color: #000000;
  line-height: 100%;
  text-indent: 4em;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  margin-top: 0;
  margin-left: 11em;
  margin-right: 11em;
}

p.oneandahalf {
  color: #000000;
  line-height: 150%;
  text-indent: 4em;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  margin-top: 0;
  margin-left: 11em;
  margin-right: 11em;
}


p.double  {
  color: #000000;
  line-height: 200%;
  text-indent: 4em;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  margin-top: 0;
  margin-left: 11em;
  margin-right: 11em;
}

/* A work in progress */

p.right1cram {
    text-align: right;
    line-height: 200%;
    margin-top: 0;
    margin-left: 11em;
    margin-right: 5em;
    margin-bottom: 0;
}

p.flush  {
  color: #000000;
  line-height: 200%;
  text-indent: 0;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", " monospace";
  margin-top: 0;
  margin-left: 11em;
  margin-right: 11em;
}

p.flush_short  {
  color: #000000;
  line-height: 150%;
  text-indent: 0em;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  margin-top: 80px;
  margin-left: 11em;
  margin-right: 11em;
  margin-bottom: 80px;
}

p.marg {
    color: #000000;
    line-height: 200%;
    text-indent: 0px;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-left: 32em;
    margin-right: 11em;
}

.right-marg {
    text-align: right;
    padding: 1em;
    margin-right: 12em;
    margin-left: 45%;
}

p.in1half {
    color: #000000;
    line-height: 150%;
    text-indent: 2em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-left: 14em;
    margin-right: 11em;
}

p.citat {
    color: #000000;
    line-height: 150%;
    text-indent: 0px;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    text-indent: 80ps;
    margin-top: 1.5em;
    margin-left: 18em;
    margin-right: 18em;
    margin-bottom: 1em;
}

p.citattopless {
    color: #000000;
    line-height: 150%;
    text-indent: 0px;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    text-indent: 80px;
    margin-top: 0px;
    margin-left: 18em;
    margin-right: 18em;
    margin-bottom: 1em;
}

p.citatbottomless {
    color: #000000;
    line-height: 150%;
    text-indent: 0px;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    text-indent: 80ps;
    margin-top: 1.5em;
    margin-left: 18em;
    margin-right: 18em;
    margin-bottom: 0px;
}

p.citatcram {
    color: #000000;
    line-height: 150%;
    text-indent: 0px;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    text-indent: 80ps;
    margin-top: o;
    margin-left: 18em;
    margin-right: 18em;
    margin-bottom: 0;
}

p.quote {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    padding: 1.5em;
    margin-left: 11%;
    margin-right: 11%;
    text-indent: 0;
    line-height: 120%;
}

p.poem {
    padding: 1.5em;
    margin-left: 40%;
    margin-right: 20%;
    text-indent: 0;
    line-height: 150%;
}

pre.poem {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    padding: 1.5em;
    margin-left: 10%;
    margin-right: 20%;
    text-indent: 0;
    line-height: 150%;
}

pre.poem0 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    padding: 1.5em;
    margin-left: none;
    margin-right: none;
    text-indent: 0;
    line-height: 150%;
}

p.in1 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 1em;
    line-height: 220%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12%;
    margin-right: 9%;
    text-indent: 0;
    padding: 0;
}

p.in2 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 1em;
    line-height: 220%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14%;
    margin-right: 9%;
    text-indent: 0;
    padding: 0;
}

p.in3 {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 1em;
    line-height: 220%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16%;
    margin-right: 9%;
    text-indent: 0;
    padding: 0;
}

p strong {
    text-transform: uppercase;
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 1em;
    font-weight: normal;
}

dl.snug {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    margin-left: 11%;
    margin-right: 11%;
    padding: 0;
    line-height: 150%;
}

dl {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    margin-left: 11%;
    margin-right: 11%;
    padding: 1em;
    line-height: 150%;
}

dd {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    line-height: 125%;
    text-indent: 1em;
    margin-bottom: 0.5em;
}

dd::first-of-type {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    line-height: 150%;
    text-indent: none;
}

dd strong {
    text-transform: uppercase;
    font-weight: normal;
}

dt {
    text-transform: uppercase;
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    line-height: 150%;
}

dt.std {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    line-height: 150%;
}

pre {
    font-family: 'special_eliteregular', Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 1em;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 13%;
    margin-right: 13%;
    text-indent: none;
    padding: 0;
}

.gunk1 {
     color: #2E2E2E;
     text-shadow: 1px 1px 2px #343434, -1px -1px 1px #404040;
}

.gunk2 {
    color: #252525;
    text-shadow: 1px 0px 1px #303030, 0px -1px 1px #404040;
}

ul {
    margin-left: 22em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul ul {
    margin-left: 22em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}


/* mouse over link */
a.null:hover {
    color: #010101;
    text-decoration: none;
    background-color: #FEFEFE;
  }

/* selected link */
a.null:active {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFF;
}

summary  {
  color: #BBBBFF;
  font-size: 0.7em;
  line-height: 100%;
  text-indent: 0px;
  font-family: "special_eliteregular", "Special Elite", "kalimati", verdana;
  font-weight: 200;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  line-height: 150%;
}

h2 {
  color: #000000;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  line-height: 150%;
}

h3 {
  color: #000000;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  line-height: 150%;
}

h4 {
  color: #000000;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
  line-height: 150%;
}

li {
    color: #000000;
    line-height: 100%;
    list-style-type: disc;
}

div.pullquote {
    color: black;
    background-color: white;
    line-height: 150%;
    text-indent: 60px;
    font-size: 1.1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
}

td {
    color: #000000;
}

th {
    color: #000000;
}

table, th, td {
    background-color: #000000;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}

th {
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    font-size: 1em;
    color: #DDDDDD;
    line-height: 100%;
    background-color: #151515;
}
td {
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    color: #DDDDDD;
    line-height: 100%;
}

table a:link {
	color: #FFFFFF;
	background-color: #000000;
}

table a:visited {
	color: #FFFFFF;
	background-color: #000000;
}

.center {
    text-align: center;
  }

.left  {
    text-align: left;
  }

.right {
    text-align: right;
  }

.right1cram {
    text-align: right;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.ul  {
    text-decoration: underline;
    }

.strkthru  {
    text-decoration: line-through;
    }

.footnote {
    font-size: 1em;
    text-indent: 0px;
    line-height: 100%;
    margin-left: 20px;
    margin-rght: 0px;
  }

.single {
    line-height: 100%;
}

strong {
    font-weight: normal;
    text-transform: uppercase;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

em {
/*	color: red; */
	text-decoration: none;
	font-style: normal;
}

img.right {
    float: right;
    padding: 10px;
}

.Table
{
    display: table;
    border: 0px;
    color: #000000;
    margin-left: 5em;
    margin-right: 5em;
    background-color: #FFFFFF;
}

.Title
{
    border: 0px;
    display: table-caption;
    text-align: center;
    font-weight: normal;
    font-size: larger;
    color: #000000;
}

.Heading
{
    border: 0px;
    display: table-row;
    font-weight: bold;
    text-align: center;
	color: #000000;
}
.Row
{
    border: 0px;
    display: table-row;
    color: #000000;
}

.Cell
{
    border: 0px;
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
}
.quCell
{
    border: 0px;
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
}

/* borrowed section ends */

div {
    color: #000000;
    background-colour: #FFFFFF;
    line-height: 200%;
    text-indent: 0;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "American Typewriter", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-top: 0;
    margin: 0;
    }

div.quTable {
	color: #000000;
	background-color: #FFFFFF;
}

div.quTable a:link {
    color: #000000;
    text-decoration: underline;
    background-color: #FFFFFF;
}

div.quTable a:visited {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
}

/* mouse over link */
div.quTable a:hover {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
  }

/* selected link */
div.quTable a:active {
    color: #000000;
    text-decoration: underline;
    background-color: #FFFFFF;
}

ul {
    color: #000000;
    line-height: 185%;
    text-indent: 0px;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-left: 180px;
    margin-right: 150px;
    line-height: 100%;
}

ol {
    color: #000000;
    line-height: 185%;
    text-indent: 0px;
    font-size: 1em;
    font-family: "special_eliteregular", "Special Elite", "Gabriele", "Source Code Pro", "kalimati", "verdana", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", "monospace";
    margin-left: 180px;
    margin-right: 150px;
    line-height: 100%;
}

.footnote {
    font-size: 1em;
    text-indent: 0px;
    line-height: 120%;
}

.footnote2 {
    font-size: 0.6em;
    text-indent: 50px;
    line-height: 100%;
}
